/*#ma{
	position: absolute;
	margin-left: 300px;
	margin-right: 100px;
	margin-top: -511px;

}

#pi{
	position: absolute;
	margin-left: 600px;
	margin-right: 100px;
	margin-top: -511px;
}

#ci{
	position: absolute;
	margin-left: 300px;
	margin-right: 100px;
	margin-top: -530px;
}

#se{
	position: absolute;
	margin-left: 300px;
	margin-right: 100px;
	margin-top: -412px;
}

#pop{
	position: absolute;
	margin-left: 0px;
	margin-right: 100px;
	margin-top: 175px;
}*/

